@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {  
  .custom-scrollbar {
    overflow-y: auto; 
    max-height: 100vh; 
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2a6dae;
    border-radius: 10px;
    position: absolute;
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
}